
<center>
<h4>Universidad Nacional de Córdoba - Facultad de Matemática, Astronomía, Física y Computación</h4>
<h3>Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h3>
 <h2>Mentoría: Clasificación de Tumoresferas </h2>
</center>

<a name="exploratory_data_analysis"></a>
#### **Práctico de Análisis Exploratorio y Curación**

Importamos las librerías necesarias:

In [1]:
#! pip install SQLAlchemy

In [2]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine, text

## Agrupaciones:

### SQL

Vamos a explorar los datos por medio de algunas consultas (queries) al archivo original (con el que trabajaron en el TP1):

 * Cargar el archivo *'data/raw/fiji_datos_0al7mo_labels.csv'* a SQLite 
 * Realizar las siguientes consultas:

    1) Verificar la cantidad de datos cargados (les debería dar 1018)
    2) Listar las primeras 7 líneas con las columnas *'Area'*, *'Round'* con alias *'redondez'*, *Diameter* con alias *'diametro'*, *n_diam* con alias  *poblacion_celular* y *esferoide*. 
    
        Realizar la misma consulta pero filtrando por los días 3 y 5.
    3) Consultar los distintos días y aparte las etiquetas presentes. Contar cuántas filas hay por día y luego consultar cuantas son *esferoide = 'si'*.   
    
       Probar con GROUP BY de dos columnas si pueden contabilizar 'si' y 'no' por día. 
    
    4 ) En algún día en particular (a partir del 3er día), consultar cuántos datos:
        * Son esferoides "si" y "no".        
        * Tienen su diámetro entre 50$\mu$ m y 200$\mu$ m

In [ ]:
from sqlalchemy import create_engine, text
# Se crea una base de datos con el dataframe original
database = create_engine('sqlite:///df_orgininal_y_pca.sqlite3', echo=True)
df.to_sql('df_original', con=database, if_exists="replace")
df_pca.to_sql('df_pca', con=database, if_exists="replace")
# Vamos a buscar valores de labels duplicados en el dataframe original
query1 = """SELECT labels, COUNT(labels)
FROM df_original
GROUP BY labels
HAVING COUNT(labels) > 1;"""

with database.connect() as con:
    query_result1 = pd.read_sql_query(query1, con)

query_result1

In [11]:
## Usando SQL en Python:

## Para conectarse con sqlite:
engine = create_engine('sqlite:///fiji_datos.sqlite3', echo=True)

# Levantamos el archivo 
url = 'https://raw.githubusercontent.com/luciabarg/datos_tumoresferas/main/data/raw/fiji_datos_0al7mo_labels.csv'
fiji_datos = pd.read_csv(url)

fiji_datos.to_sql('fiji_datos', con=engine, if_exists="replace")

2023-06-30 23:32:22,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-30 23:32:22,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fiji_datos")
2023-06-30 23:32:22,175 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-30 23:32:22,179 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("fiji_datos")
2023-06-30 23:32:22,180 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-30 23:32:22,185 INFO sqlalchemy.engine.Engine
CREATE TABLE fiji_datos (
	"index" BIGINT,
	labels TEXT,
	"Area" FLOAT,
	"X" FLOAT,
	"Y" FLOAT,
	"XM" FLOAT,
	"YM" FLOAT,
	"Perim." FLOAT,
	"BX" FLOAT,
	"BY" FLOAT,
	"Width" FLOAT,
	"Height" FLOAT,
	"Circ." FLOAT,
	"Feret" FLOAT,
	"FeretX" BIGINT,
	"FeretY" BIGINT,
	"FeretAngle" FLOAT,
	"MinFeret" FLOAT,
	"AR" FLOAT,
	"Round" FLOAT,
	"Solidity" FLOAT,
	"Esferoide" TEXT,
	dia BIGINT,
	"Diameter" FLOAT,
	n_diam FLOAT
)


2023-06-30 23:32:22,190 INFO sqlalchemy.engine.Engine [no key 0.00535s] ()
2023-06-30 23:32:22,211 INFO sqlalchemy.engine.Engine CREATE INDEX ix_fiji_datos_index ON fiji_datos ("index")
2023-06-30 23:32:22,213 INFO sqlalchemy.engine.Engine [no key 0.00175s] ()
2023-06-30 23:32:22,280 INFO sqlalchemy.engine.Engine INSERT INTO fiji_datos ("index", labels, "Area", "X", "Y", "XM", "YM", "Perim.", "BX", "BY", "Width", "Height", "Circ.", "Feret", "FeretX", "FeretY", "FeretAngle", "MinFeret", "AR", "Round", "Solidity", "Esferoide", dia, "Diameter", n_diam) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-06-30 23:32:22,281 INFO sqlalchemy.engine.Engine [generated in 0.02968s] [(0, 'Esferas_BT474_dia_0_well_1_100X_1_blob_1', 324.444, 1129.2718, 102.2051, 1129.2718, 102.2051, 67.3603, 1118.8859, 92.3913, 21.0598, 19.7011, 0.8985, 22.2117, 1648, 157, 23.4287, 19.7011, 1.0653, 0.9387, 0.95, 'si', 0, 20.9564, 1.491356796983188), (1, 'Esferas_BT474_dia_0_well_1_100X_1_blob_2', 497.5115, 1517.5528, 126.1022, 1517.5528, 126.1022, 82.8004, 1504.7554, 113.4511, 25.8152, 25.1359, 0.9119, 26.8751, 2215, 192, 16.1443, 25.1289, 1.0475, 0.9546, 0.9569, 'si', 0, 26.002, 2.8487332309604083), (2, 'Esferas_BT474_dia_0_well_1_100X_1_blob_3', 282.9078, 1314.2815, 126.0988, 1314.2815, 126.0988, 62.1586, 1304.3478, 116.8478, 19.7011, 18.3424, 0.9201, 20.437, 1920, 189, 15.4222, 18.3424, 1.0395, 0.962, 0.9519, 'si', 0, 19.3897, 1.1812580710195366), (3, 'Esferas_BT474_dia_0_well_1_100X_1_blob_5', 500.7421, 1189.2841, 212.6155, 1189.2841, 212.6155, 84.5571, 1175.9511, 200.4076, 26.4946, 25.1359, 0.8801, 26.6336, 1731, 309, 174.144, 25.1359, 1.0278, 0.973, 0.9493, 'si', 0, 25.88475, 2.8103696347136573), (4, 'Esferas_BT474_dia_0_well_1_100X_1_blob_6', 492.8964, 1043.0782, 247.7667, 1043.0782, 247.7667, 82.0728, 1030.5707, 235.7337, 25.1359, 24.4565, 0.9195, 26.2232, 1520, 353, 143.42700000000005, 24.4565, 1.0186, 0.9817, 0.9643, 'si', 0, 25.33985, 2.6365963047688177), (5, 'Esferas_BT474_dia_0_well_1_100X_1_blob_7', 406.1319, 737.5332, 271.2736, 737.5332, 271.2736, 74.8814, 725.5435, 260.1902, 23.7772, 22.4185, 0.9102, 24.124, 1068, 401, 9.7276, 22.4185, 1.0489, 0.9533, 0.955, 'si', 0, 23.27125, 2.042164183920052), (6, 'Esferas_BT474_dia_0_well_1_100X_1_blob_8', 333.6742, 1123.7169, 318.7621, 1123.7169, 318.7621, 67.3603, 1112.7717, 309.1033, 21.7391, 19.7011, 0.9241, 21.9083, 1638, 470, 7.125, 19.7011, 1.0531, 0.9496, 0.9557, 'si', 0, 20.8047, 1.4592036020514103), (7, 'Esferas_BT474_dia_0_well_1_100X_1_blob_9', 385.8253, 739.2418, 346.0716, 739.2418, 346.0716, 73.1247, 727.5815, 334.9185, 23.0978, 22.4185, 0.9067, 23.7286, 1071, 504, 166.7595, 22.2892, 1.0607, 0.9428, 0.9489, 'si', 0, 23.0089, 1.973872468878176)  ... displaying 10 of 1018 total bound parameter sets ...  (1016, 'Esferas_BT474_dia_7_well_2_100X_6_blob_3', 531.202, 58.462, 261.9482, 58.462, 261.9482, 89.5939, 44.837, 248.6413, 26.4946, 26.4946, 0.8316, 31.2795, 66, 399, 34.3803, 24.978, 1.2569, 0.7956, 0.935, 'no', 7, 28.12875, 3.606474114918977), (1017, 'Esferas_BT474_dia_7_well_2_100X_6_blob_4', 1085.4797, 255.1506, 600.7884, 255.1506, 600.7884, 127.6657, 235.0543, 582.8804, 38.0435, 36.6848, 0.8369, 41.4903, 353, 863, 129.6855, 36.6296, 1.0724, 0.9325, 0.9544, 'no', 7, 39.05995, 9.65665173427902)]
2023-06-30 23:32:22,294 INFO sqlalchemy.engine.Engine COMMIT

1018

In [17]:
#Forma que les mostraron en la clase teórica: 
query1 = "SELECT count(*) FROM fiji_datos;"

with engine.connect() as con:
    print(query1)
    rs = con.execute(text(query1))
    df_rs = pd.DataFrame(rs.fetchall())
    print(df_rs)

SELECT count(*) FROM fiji_datos;
2023-06-30 23:37:35,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-30 23:37:35,299 INFO sqlalchemy.engine.Engine SELECT count(*) FROM fiji_datos;
2023-06-30 23:37:35,301 INFO sqlalchemy.engine.Engine [generated in 0.00642s] ()
   count(*)
0      1018
2023-06-30 23:37:35,312 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
# Otra forma alternativa de usar sqlalchemy

query1 = """ SELECT count(*) FROM fiji_datos; """

with engine.connect() as con:
    query_result1 = pd.read_sql_query(query1, con)

query_result1

2023-06-30 23:37:40,485 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-30 23:37:40,489 INFO sqlalchemy.engine.Engine  SELECT count(*) FROM fiji_datos;
2023-06-30 23:37:40,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-06-30 23:37:40,499 INFO sqlalchemy.engine.Engine ROLLBACK

   count(*)
0      1018

Extras que podrían ayudar:

* Documentación [*pandas.DataFrame.to_sql*](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)
* [SQLite instructivo](https://drive.google.com/drive/folders/1iW5OaNaNDafU4e4m87xID7HcEbvb1W0V?usp=drive_link) para versión [**gráfica** online](https://sqliteonline.com/) 

* [Recursos SQL](https://drive.google.com/drive/folders/1EDSgMGbrRjNZX7m-GXunkQjNXUxY1NSn?usp=drive_link)
    
* Presentación en [MeTCamp](https://docs.google.com/presentation/d/1URSQt1sJ8Th8Y4J62zBv9x3I1lV0rckT/edit?usp=sharing&ouid=107018266094379471830&rtpof=true&sd=true)

* Súper súper buenas prácticas en [este repositorio](https://github.com/daianadte/wids-cba-2023)

### Python
Probar diferentes agrupaciones en Python.

In [5]:
#Por ej: 
fiji_datos.groupby('dia').agg({'Esferoide': ['count']}).sort_values(by = 'dia')

    Esferoide
        count
dia
0          94
1         342
2         155
3          43
4         254
5          52
6           4
7          74

## Análisis y Curación de Datos

1) Para empezar a trabajar la tabla, primero hay que combinar los datasets, que fueron separados por día. 

Estos son los siguientes archivos a unir:

*   "fiji_datos_0al7mo_modificado_dia_0.csv"
*   "fiji_datos_0al7mo_modificado_dia_1.csv"
*   "fiji_datos_0al7mo_modificado_dia_2.csv"
*   "fiji_datos_0al7mo_modificado_dia_3.csv"
*   "fiji_datos_0al7mo_modificado_dia_4.csv"
*   "fiji_datos_0al7mo_modificado_dia_5.csv"
*   "fiji_datos_0al7mo_modificado_dia_6.csv"
*   "fiji_datos_0al7mo_modificado_dia_7a.csv"
*   "fiji_datos_0al7mo_modificado_dia_7b.csv"

Se encuentran en la carpeta: **"data/02_EyC"** de la [carpeta compartida](https://drive.google.com/drive/folders/1RqGNySwACN33Qopmw0nHmj5Yv4M78ZXi?usp=drive_link) y en este repositorio. 


Probar hacerlo con Python y/o SQL (por separado, para probar!). Verificar que llegan a la misma cantidad de filas y columnas. 

2) Una vez armado el dataset modificado, explorar el dataset y buscar inconsistencias, por ej si hay valores nulos, duplicados, etc, tratando de encontrar todas las inconsistencias en los datos. Decidir el orden en cuál ir arreglándolas.

3) Corregir las inconsistencias que van encontrando y sobre los datos faltantes (¡verificar primero si los hay!), determinar cuál método sería el mas adecuado para imputarlos, teniendo en cuenta lo que aprendieron sobre los datos en el práctico de *Análisis y Visualización*.

4) Una vez que recuperan el dataset original, repasando lo que les dieron en la materia de *Exploración y Curación de datos* y ya pensando en las transformaciones que puedan servirles y que les conviene realizar para la clasificación en el práctico de aprendizaje supervisado:

  * ¿Sobre cuáles columnas realizarían encoding y de qué tipo?. Elegir un método e implementarlo. 

  * Tenemos muchas columnas (¡aunque siempre puede haber mas!) por lo que es posible realizar algún método de reducción de dimensionalidad.

  * Escalar y/o normalizar? Esa es la cuestión. Teniendo en cuenta lo aprendido a partir de los datos, cuál método se ajustaría a estos datos? 

  Sumar tales transformaciones como columnas para sumar características al conjunto de datos y guardar el achivo modificado.

Si se traban mucho mucho en la limpieza de los datos, este paso pueden hacerlo con el dataset original que usaron en el práctico 1.

5) Pueden identificar sesgos en la toma de los datos o en el etiquetado? Si les parece que es así, cómo sería un experimento o método para mejorarlos?  

6) Realizar una documentación técnica de los procesos realizados. 



### OPCIONAL

7) Explorar la carpeta py_folder. Agregar alguna función de transformación 

 Para correr el archivo main, en una terminal: 
   (.venv) $ python main.py 


 Para usar pydoc ->  https://pdoc.dev/
    1) Instalarlo: 
       (.venv) $ pip install pdoc
    2) Crear la carpeta con la documentación
       (.venv) $ pdoc main.py utils/ -o ./documentacion/Docs -t ./documentacion/pdoc_templates/